*{
  padding: 0px;
  margin: 0px;
}


.menu{
  display:grid;
  width: 100vw;
  height: 150px;
  background-color: #1F1F24;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;



}

#logo{
  display: block;
  margin-left: 150px;


}

.items{
  display: block;
  margin-top: auto;
  margin-bottom: auto;

}
